include ACKS
include ChangeLog
include LICENSE
include MANIFEST.in
include Makefile
include README
include README.md
include TODO
include smartcard/scard/PcscDefs.i
include smartcard/scard/PcscTypemaps.i
include smartcard/scard/gemalto.ver
include smartcard/scard/helpers.c
include smartcard/scard/helpers.h
include smartcard/scard/memlog.h
include smartcard/scard/pcsctypes.h
include smartcard/scard/pyscard-reader.h
include smartcard/scard/scard.def
include smartcard/scard/scard.i
include smartcard/scard/scard.rc
include smartcard/scard/winscarddll.c
include smartcard/scard/winscarddll.h
include smartcard/test/configcheck.py
recursive-include smartcard/Examples *.py *.ico
recursive-include smartcard/doc *.html *.jpg *.css *.js *.png *.txt
recursive-include smartcard/test/framework *.txt *.py
recursive-include smartcard/test/frameworkpcsc *.txt *.py
recursive-include smartcard/test/scard *.txt *.py
recursive-include smartcard/wx *.ico
include test/*.py
