Source: pyscard
Priority: optional
Maintainer: Ludovic Rousseau <rousseau@debian.org>
Build-Depends: debhelper (>= 5.0.38), python-support (>= 0.5.3), python-all-dev (>= 2.3.5-11), libpcsclite-dev
Standards-Version: 3.7.2
Section: libs
XS-Python-Version: all
Homepage: http://pyscard.sourceforge.net/

Package: python-pyscard
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python wrapper above PC/SC
 This package contains a wrapper to use PC/SC from a Python program.
